# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar

# IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# NeoForge/Forge
run/
logs/
debug.log

# Mac
.DS_Store
